.link-boxes{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: white;

}

.home-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 100vw;
  // background-image: linear-gradient(#232526,#414345)

}
.reading-box{
  position: fixed;
  top: 3.8%;
  left: 20%;
  z-index: 1000;
  width: 35vw;
  display: flex;
  justify-content: space-between;
}
.hero-box{
height: 65vh;
width: 99vw;
}